  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 100);
    background: #12152b;
    font-family: 'Roboto', sans-serif;
    }